---
import HeaderLink from "./HeaderLink.astro";
import {SITE_TITLE} from "../consts";
import "../styles/tailwind.css";
---

<header class="bg-gray-800 p-6">
  <h1 class="text-white text-4xl">
    {SITE_TITLE}
  </h1>
  <nav class="text-white text-xl">
    <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink href="/blog">Blog</HeaderLink>
    <HeaderLink href="/about">About</HeaderLink>
  </nav>
</header>
